*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #98f3ff;
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calc{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);      

}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ffffff;
    box-shadow: inset -5px 5px 12px #b9b9b9,
                inset 5px 5px 12px rgba(0,0,0,.16) ;
    border: none;
    border-radius: 30px;
    color: rgb(39, 0, 0);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height:48px;
    width: 48px;
    background-color: #ececec ;
    box-shadow: -5px -5px 12px #fbfbfb,
                    5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 60%;
    margin: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;

}

.equal{
    width: 115px;
    border-radius: 40px;
    box-shadow: -5px -5px 12px #ececec,
                    5px 5px 12px rgba(0,0,0,.16);
    
}